body {
    
    margin: auto;
   
    background: lightskyblue;
    background-image: url(../Imagini/p8.svg);
    background-clip: content-box;
    background-repeat: no-repeat;
    
    background-size: cover; 
    text-align: center;
    height: 100%;
    margin:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

header{
    font-size: 2.5em;
}


form { 
    display: inline-block;
    left: auto;
    right : auto;
    text-align: left;
}

div {
    display: block;
    text-align: center;

}

main{
    width: 30%;
    /* border: 1px solid white; */
    padding-top: 2.5em;
}

main form{
    width: 80%;
}

.inp2{
    width: 20%;
    height: 2.5em;
    font-size: 0.5em;
}

::placeholder {
    color:skyblue;
    opacity: 2; /* Firefox */
  }

  .inp {
    font-size: 20px;
    color:black;
    width: 100%;
    padding: 0.5em 0.5em;
  }

  .b {
      left:auto;
      right:auto;
      align-items:center;
      top: 50%;
      top: 50%;
      font-size:30px;
  }

  @media screen and (max-width: 800px){
      main{
          width: 90%;
      }
  }


