.col1 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col2 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col3 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
}

.col4 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: white;
}

.col5 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col6 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col7 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
}

.col8 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 45%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: white;
}

.col9 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col10 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col11 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
}

.col12 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 53%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: white;
}

.col13 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    background-color: gray;
    color: black;
}

.col14 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    position: absolute;
    left: 56%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 24px;
    background-color: gray;
    color: black;
}