body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98vh;
    font-size: 3em;
}

header {
    width: 50%;
    border: 1px solid black;
    background-color:aqua;
}

main {
    width: 50%;
    border: 1px solid black;
    background-color: bisque;
}

footer {
    width: 50%;
    border: 1px solid black;
    background-color:coral;
}

body.vizitator{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }