body {
    
    margin: auto;
   
    background: lightskyblue;
    background-image: url(../../images/p8.svg);
    background-clip: content-box;
    background-repeat: no-repeat;
    
    background-size: cover; 
    text-align: center;
    height: 100%;
    margin:0;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
   
}

#form-message{
    background-color: rgb(255, 116, 116);
    color: rgb(100, 0, 0);
    border: 1px solid red;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    list-style-type: none;
    margin: unset;
    font-size: 0.8em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

header{
    font-size: 2.5em;
}


form { 
    display: flex;
    /* left: auto;
    right : auto;
    text-align: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
}

div {
    display: block;
    text-align: center;

}

main{
    width: 20%;
    /* border: 1px solid white; */
    padding-top: 2.5em;
}

/* main form{
    width: 80%;
} */

.inp2{
    width: 4em;
    height: 2.5em;
    font-size: 0.5em;
    display:inline-block;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

::placeholder {
    color:rgb(21, 109, 144);
    opacity: 2; /* Firefox */
  }

  .inp {
    font-size: 20px;
    color:black;
    width: 100%;
    padding: 0.5em 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .b {
      left:auto;
      right:auto;
      align-items:center;

      display: flex;
      flex-direction: column;

      top: 50%;
      top: 50%;
      font-size:30px;
  }

  @media screen and (max-width: 800px){
      main{
          width: 90%;
      }
  }


