

body {
    border: 0px;
    margin: auto;
   
    background: lightskyblue;
    background-clip: content-box;
    background-repeat: no-repeat;
   
    background-size: cover;
    text-align: center;
   
    left:auto;
    right:auto;
    top:auto;
    bottom: unset;
  
    width: 100%;
    display:block;
    background-image: url(../../images/p9.svg);
   
    }
  
    form { 
        display: inline-block;
        left: auto;
        right : auto;
        text-align: left;
    }
  
    div {
        display: block;
        text-align: center;
  
    }
  
    .text {
      font-size:3px;
      color:black;
    }
  
    .inp {
      
      font-size: 30px;
      color:black;
      
  
    }
  
    .inp2 {
      
      font-size: 20px;
      color:black;
  
    }
  
    ::placeholder {
      color:rgb(21, 109, 144);
      opacity: 2; /* Firefox */
    }