body {
    background-color: lightskyblue;
    text-align: center;
    /* overflow: hidden; */
}

.st {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullTopnav {
    width: 100%;
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    /* position: sticky;
    top: 1%;
    z-index: 1;
    margin-bottom: 2em; */
}

.topnav {
    width: 100%;
    height: 10%;
    background-color: cornflowerblue;
    overflow: auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.topnav a {
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1.25em;
    width: 12.5%;
}

.topnav a:hover {
    background-color: darkgrey;
    color: black;
}

.topnav a.activate {
    background-color: deepskyblue;
    color: black;
}

.account .icon {
    display: none;
}

.topnav .extraResponsive {
    display: none;
}

.account {
    background-color: rgba(163, 14, 44, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 20%;
    position: relative;
    right: 0;
}

.account a {
    color: black;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1.25em;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.account .extra {
    display: none;
    flex-direction: column;
}

.account a:hover {
    background-color: darkgrey;
    color: black;
}

.st a {
    text-decoration: none;
}

.raportRed {
    border: 5px dashed rgba(0, 0, 0, 0.5);
    margin-top: 5em;
    font-size: 2.5em;
    padding: 1em 1em;
    color: black;
}

.raportRed:hover {
    background-color: deepskyblue;
    color: black;
}

@media screen and (max-width: 1000px) {
    .fullTopnav .account a:not(.icon) {
        display: none;
    }
    .topnav a:not(.activate) {
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .topnav .activate {
        width: 50%;
        font-size: 1em;
        text-align: left;
    }
    .topnav .extraResponsive {
        display: flex;
        flex-direction: column;
        /* background-color:rgba(245, 222, 179, 0.301); */
    }
    .topnav .extraResponsive a {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .topnav .extraResponsive a:hover {
        background-color: darkgrey;
        color: black;
    }
    .account a.icon {
        display: block;
        width: 100%;
        font-size: 1em;
        padding: 1em 0;
    }
    .fullTopnav .topnav {
        font-size: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

@media screen and (max-width: 1000px) {
    .topnav.responsive {
        position: relative;
        overflow: auto;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1em;
        width: 10%;
        text-align: center;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        width: 50%;
        font-size: 1em;
    }
    .topnav.responsive a.activate {
        font-size: 1em;
    }
}